extends layout

block content
  h1= title
  form(method='POST' action='')
    label(for='league') Full Name of League
      input#league_name.form-create(type='text' name='league_name' value=(undefined===league ? '' : league.league))
    
    label(for='league_short') Abbreviation
      input#league_short.form-create(type='text' name='league_short' value=(undefined===league ? '' : league.league_short))
    
    label(for='tournament_name') Tournament Name
      input#tournament_name.form-create(type='text' name='tournament_name' value=(undefined===league ? '' : league.tournament_name))
    label(for='event_name') Events in the tournament are called:
      input#event_name.form-create(type='text' name='event_name' value=(undefined===league ? '' : league.event_name))
    label(for='sport') Sport played
      input#sport.form-create(type='text' name='sport' value=(undefined===league ? '' : league.sport))
    
    button.btn.btn-primary(type='submit') Submit
  if errors
    ul
      for error in errors
        li(class='error')= error.msg